:root {
    /* Colors */
    --deep-purple: #34036c;
    --bright-purple: #6233b9;
    --dark-purple: #543280; 
    --light-purple: #9c7eee;
    --extra-light-purple: #eadbfb;

    --almost-black: #28262c;
    --black: rgba(0, 0, 0, 0.2);

    /* Fonts */
    --fs-small: 1.25rem;
}

html, 
body, 
ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    flex-direction: column;
}

